@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.register-container {

  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color: red;
  width: 100%;
  
  height: 100vh;
  display: flex;
}
.bg-background {
  position: relative;
  background-image: url(/src/assets/registerBg.svg);
  height: 100%;
  width:55%;
  filter:brightness(80%);
  
}
h2{
position: relative;
width: 370px;
height: 144px;
left: 50px;
top: 470px;
text-align: left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:bolder;
font-size: 35px;
line-height: 35px;
display: flex;

}

.form-style {
  height: 100vh;
  width: 45%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}
.form-top{
  display:flex;
}

.swift{
   color: red;
  font-weight: bold;
  display: fixed;
 position: relative;
 left:10px;
font-size:15px;
}
.rider-top{
  left: 0px;
display:flex;


}

input {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 6px;
  border-color: #012a4a;
  width: 300px;
  background-color: white;
  color: black;
  opacity: 0.8;
  border: 1px solid #012a4a;
  border-radius: 6px;
  display: flex;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.labels {
 position: relative;
  display: flex;
 
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  font-size: 15px;
  font-weight:500;
}

.btnReg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;

  width: 300px;
  padding: 12px;

  background: #e02b45;
  border-radius: 6px;
}

p {
  color: black;
  
}

.sign {
  color: red;
  font-weight: bold;
}

.signup-head{
width: 246px;
height: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
display: flex;

/* identical to box height, or 100% */


color: #012A4A;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.passIcon{
  position:absolute;
  left:110px;
  top:413px;
}

