@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* *{
   
} */
html,
body {
  margin: 0px;
  height: 100%;
}
.login_container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: white;
  /* height: 100vh; */

}
.loginData_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login_form_data{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginimg_container{
  position: relative;
  /* height: 100vh; */
  background-color: white;
  display: flex;
  width: 50%;
}
.form_style {
  display: flex;
  grid-template-columns: 1fr 1fr;
  /* height: 100vh; */
  width: 50%;
  position: relative;
  justify-content: center;
  background-color: white;
}

.img_style{
  width: 100%;
}
.parent,
.parent div {
  display: flex;
  margin-left: 0px;
}
.parent {
  width: 100px;
  height: 100px;
  align-items: center;
  margin-right: 40px;
  margin-top: 20px;

}
.parent div {
  background-image: url("../../assets/circlelogo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-items: center;
}
.parent h4 {
  color: #e02b45;
}
.form_style {
  text-align: left;
}

.login_form {
  width: 80%;
  color: #012a4a;
  margin-left: 40px;
  margin-top: 20px;
}
.login_form {
  color: #012a4a;
  margin-left: 40px;
  margin-top: 20px;
}

.login_user_label{
  /* margin: 10px 5px; */
  width: 20%;
}
.login_label {
  position: relative;
  left:0px;
  margin-top: 50px;
  font-size: 24px;
  color: #012a4a;
  font-size: 30px;
  font-family: Inter;
  font-weight: 7px;
  width: 90%;
}

/* .login_form */

.input_content{
  display: flex;
  /* justify-content: space-between; */
}

.create_style {
  color: #e02b45;
}
.login_fpassword {
  margin-top: 30px;
  color: #4285f4;
  text-align: center;
  display: flex;
  font-size: small;
  justify-content: center;
  align-content: center;
}
.input_style {
  border-radius: 5px;
  border: 1px solid black;
  text-align: left;
  margin: 10px;
  padding: 10px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  font-family: Inter;
  background-color: #ffffff;
  width: 70%;
  margin-left: 0px;
  line-height: 40px;
}
.emailId,
.passwordId,
.signup {
  display: flex;
  margin-bottom: 40px;
  margin-left: 0px;
}
#darken {
  filter: brightness(50%);
}
.login_btn {
  background-color: #e02b45;
  width: 408px;
  height: 60px;
  margin-left: 40px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  color:  #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linked{
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.writeup {
  position: absolute;
  width: 400px;
  height: 144px;
  left: 100px;
  top: 500px;
  text-shadow: #012a4a 0px 2px 2px;
  text-align: left;
  font-family: "Inter";
  font-weight: bolder;
  font-size: 35px;
  line-height: 35px;
  color: white;
}

.btnReg{
  display: flex;
  width: 70%;
  justify-content: center;
  padding: 16px 24px;
  background: #e02b45;
  border-radius: 6px;
  border: 1px solid white;
  color: white;
  margin-left: 20%;
}

@media  screen and (max-width: 768px) {
   .loginimg_container {

    position: relative;
    /* height: 100vh; */
    background-color: white;
    display: flex;
    height: auto;
    width: 50%;
  }
   .login_container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  overflow: hidden;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: white;
  height: 100vh;
  overflow: hidden;
  }
  
  .form-style {
    width: 95%;
  } 
  .img_style{
    width: 100%;
  }
}
