.forgetpassword{
    background-color: #E5E5E5;
    display: flex;
    position: relative;
    height: 95vh;
    flex-direction: column;
    padding-left: 16;
    padding-right: 16;
    padding-top: 116;
    padding-bottom: 667;
    align-items: center;
    text-align: left;
}

.indiv {
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 16px

}

.label {
    color: #21334F;
    padding-bottom: 8;
}

.words {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 29px;
/* identical to box height */

color: #0a0c0e;
}

.p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 3;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2rem;
    justify-content: left;
    text-align: left;
    }

.reset-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 180px;

    width: 343px;
    height: 48px;
    font-weight: 600;
    background-color: #E02B45;
    border: 1px solid #C6C6C6;
}